---
import Container from "./Container.astro";
---

<footer class="py-12 md:py-16">
  <Container>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">

      <!-- Top area: Blocks -->
      <div class="grid md:grid-cols-3 gap-8 lg:gap-20 mb-8 md:mb-12">
        
        <!-- 1st block -->
        <div class="text-sm">
          <h6 class="text-black font-bold mb-2 text-lg">Products</h6> <!-- Text made bold and larger -->
          <ul>
            <li class="mb-1"><a href="/" class="text-black hover:text-gray-600 transition duration-150 ease-in-out">Web Studio</a></li>
            <li class="mb-1"><a href="/" class="text-black hover:text-gray-600 transition duration-150 ease-in-out">DynamicBox Flex</a></li>
            <li class="mb-1"><a href="/" class="text-black hover:text-gray-600 transition duration-150 ease-in-out">Programming Forms</a></li>
          </ul>
        </div>

        <!-- 2nd block -->
        <div class="text-sm">
          <h6 class="text-black font-bold mb-2 text-lg">Resources</h6> <!-- Text made bold and larger -->
          <ul>
            <li class="mb-1"><a href="/" class="text-black hover:text-gray-600 transition duration-150 ease-in-out">Nostrud exercitation</a></li>
            <li class="mb-1"><a href="/" class="text-black hover:text-gray-600 transition duration-150 ease-in-out">Visual mockups</a></li>
          </ul>
        </div>

        <!-- 3rd block -->
        <div class="text-sm">
          <h6 class="text-black font-bold mb-2 text-lg">Company</h6> <!-- Text made bold and larger -->
          <ul>
            <li class="mb-1"><a href="/" class="text-black hover:text-gray-600 transition duration-150 ease-in-out">Consectetur adipiscing</a></li>
            <li class="mb-1"><a href="/" class="text-black hover:text-gray-600 transition duration-150 ease-in-out">Labore et dolore</a></li>
          </ul>
        </div>

      </div>

      <!-- Bottom area -->
      <div class="text-center text-gray-400 text-sm">&copy; YourBrand. All rights reserved.</div> <!-- Text centered -->

    </div>
  </Container>
</footer>
